[{sql_bridge,
	[{module_alias, db},
	 {adapter, sql_bridge_epgsql},
	 {host, "127.0.0.1"},
	 {port, 5432},
	 {user, "nindex_user"},
	 {pass, "nindex_pw"},
	 {lookup, nindex},
	 {connections_per_pool, 10},
	 {overflow_connections_per_pool, 10},
	 {stringify_binaries, true},
	 {replacement_token_style, '$'}]
}].
